.aboutMe {
  font-family: Hubballi;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  flex: 1;
  min-height: 100vh;
  position: relative;
}
.aboutMe h2 {
  margin: 0;
  position: absolute;
  top: 15vw;
  font-size: 48px;
  left: 4%;
  width: fit-content;
}
.aboutContainer {
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  height: fit-content;
  width: 76%;
  right: 0;
  margin: auto auto;
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icons div {
  width: 48px;
  height: 48px;
}
.linkBadges {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
@media screen and (max-width: 450px) {
  .aboutContainer p {
    font-size: 20px;
  }
  .icons div {
    width: 32px;
    height: 32px;
  }
  /* .linkBadges {
    top: 150px;
  } */
}
.icons div img {
  width: 100%;
  height: auto;
}

.linkBadges .button {
  position: absolute;
  width: 118px;
  height: 35px;
  border-radius: 10px;
  background: var(--buttons-secondary, #a5bfc8);
  outline: none;
  border: none;
  color: var(--text, #0b0d0e);
  font-family: Hubballi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  padding: 0;
  right: 14%;
  text-decoration: none;
  text-align: center;
  animation-name: click;
  animation-duration: 1200ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes click {
  80% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.4) inset;
  }
}
.linkBadges .button:hover {
  background: var(--buttons-primary, #6b8e9c);
  color: var(--background, #f4f6f7);
}
.linkBadges .badge {
  margin-left: 12%;
}
.github {
  animation-name: blink;
  animation-duration: 2.5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.linkedIn path {
  animation-name: linkedInBlink;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.arrow {
  top: 77vh;
}
@keyframes linkedInBlink {
  80% {
    fill: #0a66c2;
  }
  100% {
    fill: black;
  }
}
@keyframes blink {
  80% {
    filter: invert(0);
  }
  100% {
    filter: invert(1);
  }
}
