.home {
  position: absolute;
  width: 100%;
  flex: 1;
  display: flex;
  background: var(--background, #f4f6f7);
  /* After delay */
  animation-delay: 1600ms;
  /* Change to: "Variant2"; */
  /* Animate: Smart animate; */
  animation-name: cover;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  justify-content: center;

  color: var(--text);
  flex-direction: column;
}
.intro {
  width: 100%;
  flex: 1;
  min-height: 100vh;
}
.hero {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 3;
  top: 383px;
  height: 66px;
}
.hero p {
  text-align: center;
  color: var(--text, #0b0d0e);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Hubballi;
  font-size: 48px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
}
.threeJS {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.hello {
  /* After delay */
  animation-delay: 2800ms;
  animation-name: helloAppear;
  animation-fill-mode: both;
  /*  Change to: "Variant2"; */
  /*  Animate: Smart animate; */
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
.software {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  top: 0;
  right: 0;
  /* After delay */
  animation-delay: 5.8s;
  /* Change to: "Variant3"; */
  animation-name: appear;
  /* Animate: Smart animate; */
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
}
.arrow {
  position: absolute;
  margin: 0 auto;
  top: 600px;
  left: 0;
  right: 0;
  animation-name: appear;
  animation-delay: 6.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
}
.arrow img {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  animation-name: jounce;
  animation-delay: 7s;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@media screen and (max-height: 900px) {
  .hero {
    top: 300px;
  }
  .arrow {
    top: 500px;
  }
}

.click {
  animation-name: click;
  animation-duration: 150ms;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

@keyframes jounce {
  0% {
    height: 46px;
  }
  100% {
    height: 70px;
  }
}
@keyframes cover {
  0% {
    top: 2496px;
  }
  100% {
    top: 0;
  }
}

@keyframes helloAppear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes click {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.4) inset;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
